{
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(config|model)$|^(apps|assets|auth|components|pages|translations)/?",
    "^[./]"
  ],
  "importOrderSeparation": true
}
